#start-screen {
    background-color: transparent;
    background-image: url("images/start.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    transform: translate(235px, 200px);
}

#play {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: grey;
    color: white;
    max-width: 100px;
    transform: translate(650px);
}

#screen1 {
    background-color: transparent;
    background-image: url("images/email.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#name {
    font-size: 50px;
    color: blue;
    transform: translate(560px, 120px);
}

#link {
    color: rgb(126, 187, 207);
    transform: translate(560px, 300px);
    text-decoration: underline;

}

#email-text {
    transform: translate(560px, 220px);
}

#email-text2 {
    transform: translate(560px, 300px);
}

#screen2 {
    background-color: transparent;
    background-image: url("images/email.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container1, #container2 {
    width: 100%;
    height: 100vh;
}

#popUp1, #popUp2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 10px 5px rgba(64, 66, 67, 0.367);
}

#popUp2 {
    top: 25%;
    left: 75%;
}

.offer-text{
    padding: 20px 40px 40px 40px;
    font-size: 14px;
    line-height: 22px;
    color: black;
}

.offer-text h2{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.offer-text small {
    display: inline-block;
    color: #ff2b4e;
    font-weight: 600;
    margin-bottom: 20px;
}

#close1, #close2 {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #ff2b4e;
    color: #fff;
    border-radius: 4px;
    margin-right: 20px;
}
#dialogue-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color:white;
    padding: 20px;
    box-sizing: border-box;    font-family: sans-serif;
    border-top: 2px solid #fff;
}

#game {
    position: relative;
    width: 400px;
    height:600px;
    border: 2px solid black;
    margin: auto;
    background-color: #222;
}

#rhythm-game {
    min-height: 800px;
    display: block;
}

.lane-indicator {

    position: absolute;
    bottom: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.note {
    position: absolute;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: white;
    background:rgba(255,255,255,0.2);
    border: 1px solid white;
    border-radius: 6px;
}

.screen {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#game {
    position: relative;
    overflow: hidden; 
    width: 400px;
    height:600px;
    border: 2px solid black;
    margin: auto;
    background-color: #222;
}