
.start-screen {
    background-color: transparent;
    background-image: url("images/start.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#dialogue-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color:white;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    border-top: 2px solid #fff;
}

#game {
    position: relative;
    width: 400px;
    height:600px;
    border: 2px solid black;
    margin: auto;
    background-color: #222;
}

#rhythm-game {
    min-height: 800px;
    display: block;
}

.lane-indicator {

    position: absolute;
    bottom: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.note {
    position: absolute;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: white;
    background:rgba(255,255,255,0.2);
    border: 1px solid white;
    border-radius: 6px;
}

.screen {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#game {
    position: relative;
    overflow: hidden; 
    width: 400px;
    height:600px;
    border: 2px solid black;
    margin: auto;
    background-color: #222;
}